@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <div>This project is created for the course</div>
        <b>MTM3642 Internet Programming with MVC Design Pattern.</b>
    </p>
</div>
